# ------------------------------------------------------------------------------
# File

.DS_Store
.env
.vscode

# ------------------------------------------------------------------------------
# Folder

data
logs
www
dashboard/node_modules

# ------------------------------------------------------------------------------
# Keep

!.gitkeep