# ------------------------------------------------------------------------------
# File

.DS_Store
.env
.vscode

# ------------------------------------------------------------------------------
# Folder

data/*
logs/*
www/*
config/initdb/*
config/php/*
config/ssl/*
dashboard/node_modules/*

# ------------------------------------------------------------------------------
# Keep

!.gitkeep

# ------------------------------------------------------------------------------
# End
