# ------------------------------------------------------------------------------
# File

.DS_Store
.env
.vscode

# ------------------------------------------------------------------------------
# Folder

data/*
logs/*
www/*
config/*
dashboard/node_modules/*

# ------------------------------------------------------------------------------
# Keep

!.gitkeep

# ------------------------------------------------------------------------------
# End