// -----------------------------------------------------------------------------
// VARIABLES

// Light color scheme (Default)
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --pico-header-underline: rgba(55, 60, 68, .1);
    --pico-background-secondary: #fcfcfc;
}

// Dark color scheme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-header-underline: rgba(194, 199, 208, .1);
        --pico-background-secondary: #141921;
    }
}
  
// Dark color scheme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
    --pico-header-underline: rgba(194, 199, 208, .1);
    --pico-background-secondary: #141921;
}

// -----------------------------------------------------------------------------
// STYLE

body.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

body:not(.hidden) {
    visibility: visible;
    opacity: 1;
}

header{
    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;

        li{
            display: flex;
            align-items:center;
            justify-content: space-between;
            gap: var(--pico-nav-element-spacing-horizontal);
        }

        .icons{
            display: flex;
            align-items: center;

            &::before {
                content: '';
                height: 30px;
                border-left: 1px solid var(--pico-header-underline);

            }

            a{
                padding: 0
            }
        }

        
    }

    border-bottom: 1px solid var(--pico-header-underline);
}

main{
    background-color: var(--pico-background-secondary);
    min-height: 100vh;
}

.icon{
    mask-image: url('../images/icons.svg');
    height: 22px;
    width: 22px;
    background-color: var(--pico-color);

    &.sun{mask-position: 0px 0px;}
    &.moon{mask-position: 0px -22px;}
    &.git{mask-position: 0px -44px}
}
