
// -----------------------------------------------------------------------------
// Ligth theme

:root {
    --background-color: #F4F7FB;
    --color: #707070;
}

// -----------------------------------------------------------------------------
// Dark theme
  
[data-theme="dark"] {
    --background-color: black;
    --color: white;
}